.resource-hero {
    display: flex;
    width: 100%;
    height: 100vh;

    .left {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: black;

            .text {
                font-size: 60px;
                margin: 10px 0px;
            
                background: linear-gradient(45deg, #0FF8E5, #bc00fe);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h2 {
                font-size: 35px;
                position: relative;
                span {
                    color: #0FF8E5;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        overflow: hidden;
        position: relative;

        .imgContainer {
            width: 700px;
            height: 700px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: left;

            img {
                width: 80%;
            }
        }
        .arrow {
            transform: rotate(90deg);
            width: 35px;
            height: 35px;
            position: absolute;
            bottom: 10px;
            left: 40%;
            animation: blink 2s infinite;
        }
        @keyframes blink {
            100% {
                opacity: 0;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .left {
            width: 100vw;
            display: flex;
            left: 80px;
            align-items: center;
            justify-content: center;
            height: 100%;
}

    .right {
        display: hidden;
    }
        
    }
}