.contact {
     height: 100vh;
    position: relative;

    h2 {
        color: white;
    }
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: rgb(15, 248, 229);
    position: absolute;
}

.c-wrapper {
    padding: 50pc;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
}

.c-title {
    font-size: 60px;
    width: 80%;
}